h1{
	text-align: center;
	font-weight: bold;
}

body{
	background: url(../images/cus_bg.jpg);
	background-size: cover;
	background-position: top;
}

#cover{
    align-items: center;
    position: relative;
}

label{
	font-weight: bold;
}

textarea{
	margin-left: 50px;
}

input{
	margin-left: 50px;
}

#Butt{
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
}

table{
	background: rgba(194,193,193,0.5);
}
